.loader
  .loader__block

mixin iconFacebook
  svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 500 500')
    path(d='M73.977 453.724c-16.292-5.555-28.26-18.192-32.444-34.259C40.186 414.292 40 393.535 40 248c0-181.155-.321-171.003 5.774-182.425 3.474-6.511 13.29-16.327 19.8-19.801C76.998 39.679 66.846 40 248 40c181.081 0 171.141-.313 182.28 5.749 11.088 6.035 19.997 16.932 23.735 29.034C455.96 81.086 456 84.45 456 248c0 162.95-.045 166.936-1.964 173.145-4.836 15.648-17.22 28.052-32.82 32.87-6.304 1.947-9.628 1.985-173.571 1.96L80.5 455.947zM248 367.527v-69.474l-14.75-.276-14.75-.277-.263-34.75-.263-34.75H248l.006-13.75c.01-24.235 4.47-43.127 13.323-56.437 9-13.532 24.62-23.943 40.879-27.247 18.204-3.699 44.154-.485 66.042 8.18l8.75 3.464v55.504l-20.25.577c-22.529.643-27.354 1.537-28.798 5.334-.523 1.378-.952 7.426-.952 13.44V228h52.159l-.648 2.95c-.357 1.624-3.455 17.261-6.887 34.75l-6.238 31.8-19.2.272-19.2.271.257 69.229.257 69.228h42c48.965 0 49.16-.03 58.065-8.935 9.778-9.778 8.935 7.164 8.935-179.565 0-186.693.839-169.792-8.911-179.542C418.356 59.225 434.808 60 248 60c-186.768 0-170.36-.77-179.565 8.435C59.229 77.64 60 61.232 60 248c0 183.717-.558 169.677 7.086 178.36 4.452 5.058 10.637 8.424 17.646 9.603 2.622.44 40.43.855 84.018.92L248 437zm59.756-10.277l.256-79.25h20.494c11.272 0 20.494-.163 20.494-.362 0-.488 4.838-24.544 5.508-27.388l.53-2.25H308v-47.825l3.277-6.338c2.67-5.163 4.264-6.928 8.605-9.527 6.895-4.128 12.72-5.31 26.167-5.31H357v-11.465c0-13.34.74-12.393-12.182-15.592-10.525-2.605-31.096-3.663-39.037-2.007-17.448 3.64-29.612 16.2-35.413 36.564-1.37 4.808-1.79 11.513-2.12 33.75l-.413 27.75H238v30h30v159.042l19.75-.27 19.75-.272z')

mixin iconVk
  svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 500 500')
    path(d='M73.977 453.724c-16.292-5.555-28.26-18.192-32.444-34.259C40.186 414.292 40 393.535 40 248c0-181.155-.321-171.003 5.774-182.425 3.474-6.511 13.29-16.327 19.8-19.801C76.998 39.679 66.846 40 248 40c181.081 0 171.141-.313 182.28 5.749 11.088 6.035 19.997 16.932 23.735 29.034C455.96 81.086 456 84.45 456 248c0 162.95-.045 166.936-1.964 173.145-4.836 15.648-17.22 28.052-32.82 32.87-6.304 1.947-9.628 1.985-173.571 1.96L80.5 455.947zm343.515-19.15c6.988-2.697 14.668-10.602 17.105-17.606 1.84-5.288 1.903-10.835 1.903-168.968 0-186.693.839-169.792-8.911-179.542C418.356 59.225 434.808 60 248 60c-186.768 0-170.36-.77-179.565 8.435C59.229 77.64 60 61.232 60 248c0 183.717-.558 169.677 7.086 178.36 4.446 5.052 10.623 8.416 17.646 9.613 2.622.447 77.443.748 166.268.67 156.863-.139 161.643-.198 166.492-2.07zm-94.6-99.928c-9.274-3.816-12.252-6.17-25.87-20.455-14.843-15.57-15.204-15.651-16.485-3.69-.809 7.551-3.514 12.214-8.557 14.747-2.984 1.5-6.488 1.75-24.599 1.75-31.343.002-44.584-2.996-60.786-13.767-18.246-12.13-42.967-44.213-67.474-87.565C108.712 207.252 99 187.18 99 184.085c0-4.379 4.134-11.246 7.984-13.261 3.114-1.63 6.25-1.823 29.5-1.815l26.016.01 5.204 2.984c5.614 3.22 5.161 2.564 17.268 24.997 8.008 14.838 17.969 30.73 20.952 33.43 1.857 1.681 1.933 1.564 2.632-4.036 1.015-8.116-.08-28.633-1.708-32.009-.951-1.974-2.82-3.319-6.348-4.57-6.53-2.315-8.5-4.806-8.5-10.746 0-3.964.571-5.377 3.612-8.93 7.452-8.704 16.239-11.139 40.209-11.139 24.955 0 35.3 3.512 40.308 13.684 2.346 4.766 2.368 5.113 2.129 33.316l-.242 28.5 4.657-5c6.7-7.193 14.136-18.986 23.956-37.991 7.336-14.196 9.186-17.02 12.656-19.318l4.064-2.691 29.532-.307c33.433-.347 35.916.052 40.886 6.568 2.303 3.02 2.726 4.539 2.686 9.661-.071 9.148-4.914 17.717-26.835 47.486-6.72 9.126-13.699 18.757-15.508 21.403l-3.29 4.811 15.384 15.19c19.983 19.728 28.486 31.19 30.296 40.834.984 5.246-1.054 11.325-5.122 15.275-6.163 5.986-9.6 6.582-37.806 6.555-23.868-.022-25.341-.134-30.68-2.33zM376 316.149c0-2.316-11.957-16.177-25.147-29.149-16.37-16.102-18.795-19.846-18.831-29.09-.03-7.767 3.516-14.281 17.063-31.34 10.713-13.492 26.579-36.252 25.798-37.008-.74-.718-3.56-.798-24.05-.68l-20.669.118-8.001 15.43c-10.081 19.44-17.684 31.007-26.44 40.226C287.61 253.195 282.5 256 275.052 256c-4.924 0-5.63-.315-9.583-4.267-6.667-6.666-7.02-8.872-6.647-41.504l.323-28.27-3.798-1.587c-3.02-1.262-6.607-1.51-17.509-1.21-7.54.207-13.97.636-14.287.953-.317.317.348 2.665 1.477 5.218 3.943 8.914 4.959 39.061 1.82 54.057-2.234 10.679-8.225 16.61-16.775 16.61-12.264 0-23.558-13.852-47.406-58.14-2.56-4.752-5.368-8.915-6.242-9.25-2.058-.79-32.904-.799-33.693-.01-1.22 1.22 19.694 38.526 33.001 58.867 22.267 34.038 38.736 50.977 55.094 56.667 6.443 2.242 22.415 3.826 38.815 3.85 12.207.017 12.336-.048 12.379-6.316.046-6.693 6.18-15.61 13.334-19.385 4.943-2.608 12.408-2.198 17.83.98 2.528 1.481 9.932 8.396 16.454 15.367 6.523 6.97 13.86 13.955 16.306 15.522l4.446 2.848h22.804c12.542 0 22.804-.383 22.804-.85z')

#popup1.popup.mfp-hide
  .popup__wrapper
    .popup__wrapper-body
      .popup__wrapper-close 
      .popup__head
        div Введите свои контактные данные,
          br
          | чтобы записаться на мероприятие
      .popup__wrapper-form
        form(action="#!")
          .form-group
            label.hidden Ваше имя
            input(type="text" placeholder="Ваше имя").form-control
          .form-group
            label.hidden Телефон
            input(type="text" placeholder="+7 (___) ___ - __- __").form-control
          .form-group
            label.hidden Ваша почта
            input(type="text" placeholder="Ваша почта").form-control
          .popup__wrapper-btn
            button(type="submit").btn Записаться
  .popup__close
    a(href="#!") Закрыть
    
#popup2.popup.mfp-hide
  .popup__wrapper
    .popup__wrapper-body
      .popup__wrapper-close 
      .popup__head
        div Введите свои контактные данные,
          br
          | чтобы вступить в молодежный клуб
      .popup__wrapper-form
        form(action="#!")
          .form-group
            label.hidden Ваше имя
            input(type="text" placeholder="Ваше имя").form-control
          .form-group
            label.hidden Телефон
            input(type="text" placeholder="+7 (___) ___ - __- __").form-control
          .form-group
            label.hidden Ваша почта
            input(type="text" placeholder="Ваша почта").form-control
          .popup__wrapper-btn
            button(type="submit").btn Вступить в клуб
  .popup__close
    a(href="#!") Закрыть
