/*==========  Desktop First Method  ==========*/

/* 1920 */
@media only screen and (min-width : 1999px)
  /**/

@media only screen and (max-width : 1599px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1439px)
  .welcome
    &__bg
      &-right
        img
          transform: translateY(-250px) translateX(-330px)

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
  .about
    &__right
      &-img
        max-width: 400px
  .event
    &__list
      overflow-x: auto
      &-row
        margin: 0 -10px
        &>div
          padding: 0 10px
    &__block
      width: 270px
  .question
    &__form
      &-img
        right: 10px
        width: 350px
  .welcome
    &__bg
      &-left
        width: 54%
      &-right
        width: 46%
  .footer
    padding-bottom: 15px
    &__nav
      ul
        li
          float: none
          min-width: inherit
    &__wrapper
      &-col
        padding-left: 0px !important
  .cdaka
    &__list
      &-row
        margin: 0 -5px
        &>div
          padding: 0 5px
    &__block
      &--project
        .cdaka__block-content
          height: 240px
          padding-top: 20px
          padding-left: 20px
  .header
    &__logo
      margin-top: 12px
      font-size: 30px
      padding-left: 60px
      width: 245px
      height: 50px
      span
        line-height: 30px
      small
        font-size: 20px
      img
        width: 50px
        height: 50px
        top: 0
        left: 0
    &__btn
      display: block !important
    &__nav
      position: fixed
      left: 0
      top: 0
      right: 0
      font-size: 30px
      padding: 40px 0 50px 0
      visibility: hidden
      opacity: 0
      &.is-active
        opacity: 1
        visibility: visible
      ul
        flex-direction: column
        li
          &>a, &>span
            text-align: center
            height: 60px
            line-height: 60px
    &__phone
      margin-right: 120px
      font-size: 30px
  .project
    &__info
      &-img
        width: 540px
    &__donation
      flex-direction: column
      &-list
        max-width: 414px
      &>div
        &+div
          padding-left: 0px
          padding-top: 40px
  .working
    &__block
      width: 400px
      &-img
        img
          width: 400px
  .gallery
    &__document
      &-list
        &>a
          width: calc(12.5% - 3px)
          img
            width: 104px
            height: 104px

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  body
    font-size: 20px
  .h1, h1
    font-size: 50px
    margin-bottom: 30px
    line-height: 75px !important
  .h2, h2
    font-size: 30px
    line-height: 45px
    margin-bottom: 40px
  p
    line-height: 35px
    margin-bottom: 32px
  .btn
    font-size: 20px
  .section
    &.about
      padding-top: 80px
    &.sponsor
      padding-bottom: 65px
  .about
    &__left
      float: none
      max-width: none
    &__right
      float: none
      &-img
        margin: 0 0 64px 0
        max-width: none
  .event
    &__list
      &-wrapper
        overflow: inherit
      &-row
        flex-wrap: nowrap
        margin: 0
        overflow: inherit
        &>div
          padding: 0
          padding-right: 70px
          width: auto
    &__block
      width: 375px
      &-title
        font-size: 30px
        line-height: 45px
        margin-bottom: 25px
      &-date
        right: 15px
        width: 76px
        height: 80px
        &::after
          border-left-width: 38px
          border-right-width: 38px
          border-top-width: 18px
          bottom: -18px
        b
          font-size: 37px
        small
          font-size: 18px
          line-height: 25px
    &__document
      flex-direction: column
      &>div
        &+div
          padding-left: 0
          padding-top: 40px
      &-img
        width: 500px
      &-content
        max-width: none
        text-align: center
        p
          text-align: left
  .question
    &__form
      height: auto
      padding-bottom: 40px
      &-img
        display: none
      &-wrapper
        max-width: inherit
        .col-one
          width: 250px
        .col-two
          width: 312px
          margin-left: 25px
      &-btn
        padding-top: 13px
        text-align: center
  .form
    &-group
      margin-bottom: 26px
    &-control
      height: 50px
      font-size: 16px
      padding-left: 25px
      padding-right: 25px
  textarea
    &.form-control
      height: 124px
  .gallery
    &__list
      &-wrapper
        flex-direction: column
        margin: 0
        &>div
          width: 100%
          padding: 0
        &--main
          &>div
            display: none
            &:nth-of-type(-n+3)
              display: block
      &-btn
        padding-top: 5px
    &__block
      border-radius: 17px
      margin-bottom: 35px
      &-title
        font-size: 30px
        left: 30px
        bottom: 40px
  .welcome
    height: 790px
    &__bg
      &-wrapper
        width: 991px
        &>div
          transform: none
          float: none
          position: absolute
          left: 0
          top: 0
          right: 0
          bottom: 0
          width: 100%
      &-left
        z-index: 5
        background: rgba($color-black,.7)
      &-right
        img
          transform: translateY(-250px) translateX(-190px)
    &__content
      z-index: 20
      color: $color-white
      &>.container
        height: 790px
    &__title
      font-size: 30px
      line-height: 45px
      margin-top: 175px
      margin-bottom: 55px
      b
        font-size: 50px
    &__advantage
      width: 100%
      &>div
        width: 33.3%
        &+div
          padding-left: 0
  .club
    font-size: 30px
    p
      line-height: 45px
    &__photo
      &-wrapper
        &>div
          &:first-child, &:last-child
            display: none
    &__btn
      flex-direction: column
      align-items: center
      &>div
        &+div
          padding-left: 0
          padding-top: 40px
  #map
    transform: none
    padding-bottom: 400px
  .social
    svg
      width: 63px
      height: 63px
    &--footer
      svg
        width: 45px
        height: 45px
  .contact
    background: $color-white
    height: auto
    &__info
      font-size: 30px
      max-width: none
      p
        line-height: 45px
    &__content, &__bg-wrapper
      position: relative
    &__content
      padding-bottom: 50px
      &>.container
        height: auto
    &__bg
      width: 100%
      &-wrapper
        transform: none
        width: 100%
        left: inherit
        &>div
          transform: none
          float: none
          width: 100%
      &-left
        display: none
      &-right
        transform: none !important
  .footer
    text-align: center
    padding-top: 40px
    padding-bottom: 40px
    &__logo
      float: none
      margin: 0 auto 70px
      font-size: 30px
      padding-left: 60px
      width: 245px
      height: 50px
      span
        line-height: 30px
      small
        font-size: 20px
      img
        width: 50px
        height: 50px
        top: 0
        left: 0
    &__nav
      float: none
      width: 100%
      padding-bottom: 45px
      ul
        li
          padding-left: 0
          a
            margin-bottom: 35px
    &__wrapper
      &>div
        float: none
        width: 100%
      &-left
        font-size: 30px
      &-right
        font-size: 20px
        p
          line-height: 30px
          margin-bottom: 30px
      &-col
        width: 100%
        float: none
  .cdaka
    &__list
      &-row
        flex-direction: column
        margin: 0
        align-items: center
        &>div
          width: auto
          padding: 0
    &__block
      width: 557px
      margin-bottom: 62px
      &-img
        img
          height: 337px
      &-btn
        height: 115px
        line-height: 115px
        font-size: 35px
      &-line
        height: 8px
        bottom: 107px
        span
          i
            height: 18px
            width: 18px
            top: -7px
      &-content
        height: 295px
        padding-left: 44px
        padding-top: 55px
        p
          left: 46px
          bottom: 25px
          font-size: 30px
          line-height: 40px
      &-title
        font-size: 35px
        line-height: 45px
        max-height: 100px
        &::before
          height: 5px
          width: 214px
      &--project
        margin-bottom: 0 !important
        .cdaka__block-content
          height: 390px
          padding-top: 40px
          padding-left: 28px
          p
            font-size: 50px
            line-height: 75px
    &__btn
      flex-direction: column
      align-items: center
      &>div
        &+div
          padding-left: 0
          padding-top: 40px
  .header
    &__logo
      margin-left: -30px
    &__btn
      margin-right: -30px
    &__phone
      margin-right: 50px
  .project
    &__info
      flex-direction: column
      &-img
        width: 580px
      &>div
        &+div
          padding-left: 0
          padding-top: 50px
    &__donation
      &-block
        font-size: 20px
        margin-bottom: 20px
  .content
    &__head
      &--project
        max-width: none
  .sponsor
    &__list
      &>div
        width: 50%
    &__block
      margin-bottom: 100px
      &-img
        img
          height: 225px
          width: 225px
      &-title
        font-size: 30px
        line-height: 45px
        margin-bottom: 10px
      &-untitle
        font-size: 15px
        margin-bottom: 15px
      &-social
        svg
          width: 35px
          height: 35px
  .working
    &__list
      flex-direction: column
      &>div
        width: 100%
        &:last-child
          .working__block
            margin-bottom: 0
    &__block
      width: 100%
      margin-bottom: 40px !important

      &-img
        img
          width: 512px
      ul
        height: auto !important
        li
          line-height: 30px
  .about-top
    height: auto
    background-position: 35% -30px
    &>.container
      width: 100%
      background: rgba($color-black,.7)
    &__div
      display: none
    &__text
      float: none
      width: 100%
      margin: 0 auto
      background: none
      height: auto
      min-height: 790px
      padding-top: 85px
      padding-bottom: 50px
      padding-left: 0
      padding-right: 0
      p
        line-height: 30px
  .gallery
    &__document
      &-list
        margin-left: -2px
        margin-right: -2px
        &>a
          width: calc(20% - 4px)
          margin: 2px
          img
            width: 127px
            height: 127px
  .popup
    &__wrapper
      max-width: 650px
      &-form
        width: 478px
        .form-group
          margin-bottom: 20px
        .form-control
          height: 76px
          font-size: 25px
    &__head
      &>div
        font-size: 30px
        line-height: 45px
  .join
    &__club
      width: 648px
      padding: 20px 10px 0 35px
      &-img
        position: relative
        width: 645px
        margin-top: 35px
      .content__head
        max-width: none

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
  .section
    padding: 30px 0
    &.about
      padding-top: 65px
    &.club
      padding-bottom: 90px
  .about
    &__right
      &-img
        margin-bottom: 40px
  .event
    &__list
      &-row
        &>div
          padding-right: 58px
    &__block
      width: 310px
      &-title
        font-size: 25px
        line-height: 35px
      &-date
        right: 12px
        width: 62px
        height: 65px
        &::after
          border-left-width: 32px
          border-right-width: 32px
          border-top-width: 14px
          bottom: -14px
        b
          font-size: 30px
        small
          font-size: 15px
          line-height: 20px
    &__document
      &-img
        width: 420px
    &__label
      &>div
        &:nth-last-child(2)
          padding-left: 0
          width: 100%
  .question
    &__form
      &-wrapper
        .col-one, .col-two
          float: none
          width: 100%
        .col-two
          margin-left: 0
  .gallery
    &__list
      &-btn
        padding-top: 18px
    &__block
      border-radius: 10px
      margin-bottom: 22px
      &-title
        left: 20px
        bottom: 20px
        font-size: 20px
  .welcome
    height: auto
    &__bg
      position: unset
      &-right
        img
          transform: translateX(-190px)
          height: 100%
          object-fit: cover
    &__advantage
      flex-direction: column
      justify-content: center
      &>div
        width: 100%
        &+div
          padding-top: 28px
    &__content
      position: inherit
      padding-bottom: 120px
      &>.container
        height: auto
    &__title
      margin: 100px 0 50px 20px
  .contact
    &__info
      font-size: 20px
      p
        line-height: 30px
  .header
    &__logo
      margin-left: -5px
    &__btn
      margin-right: -15px
    &__phone
      margin-right: 70px
      a
        .icon
          display: inline-block
          vertical-align: -6px
        span
          display: none
  .cdaka
    &__block
      width: 420px
      margin-bottom: 50px
      &-img
        img
          height: 257px
      &-btn
        height: 88px
        line-height: 88px
        font-size: 30px
      &-line
        height: 7px
        bottom: 80px
        span
          i
            height: 14px
            width: 14px
            top: -6px
      &-content
        height: 225px
        padding-left: 33px
        padding-top: 30px
        p
          left: 33px
          bottom: 17px
          font-size: 25px
          line-height: 30px
      &-title
        font-size: 30px
        line-height: 45px
        max-height: 100px
        &::before
          height: 4px
          width: 163px
      &--project
        .cdaka__block-content
          padding-left: 15px
  .project
    &__info
      &-img
        width: 420px
      &>div
        &+div
          padding-top: 40px
    &__donation
      &-form
        width: 420px
    &__gallery
      img
        width: 205px
  .sponsor
    &__list
      &>div
        width: 100%
    &__block
      margin-bottom: 40px
  .working
    &__block
      &-img
        img
          width: 420px
      .content__head
        white-space: normal
  .about-top
    background-size: 440%
    &__text
      padding-top: 55px
  .gallery
    &__document
      &-list
        &>a
          width: calc(33.3% - 4px)
          img
            width: 100%
            height: auto
  .popup
    &__wrapper
      max-width: 420px
      &-form
        width: 350px
        .form-group
          margin-bottom: 15px
        .form-control
          height: 56px
          font-size: 18px
    &__head
      &>div
        font-size: 25px
        line-height: 30px
  .popupBg
    .mfp-container
      padding-left: 30px
      padding-right: 30px
  .join
    &__club
      width: 420px
      &-img
        width: 420px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
  body
    font-size: 15px
  .h1, h1
    font-size: 30px
    margin-bottom: 35px
    line-height: 45px !important
  .h2, h2
    font-size: 20px
    line-height: 30px
  p
    line-height: 25px
    margin-bottom: 15px
  .btn
    font-size: 15px
  .section
    &.about
      padding-top: 40px
    &.club
      padding-bottom: 60px
  .about
    &__right
      padding-top: 10px
  .event
    &__list
      &-row
        &>div
          padding-right: 40px
    &__block
      width: 208px
      &-title
        font-size: 18px
        line-height: 25px
        margin-bottom: 13px
      &-date
        right: 7px
        width: 42px
        height: 44px
        &::after
          border-left-width: 21px
          border-right-width: 21px
          border-top-width: 10px
          bottom: -10px
        b
          font-size: 20px
        small
          font-size: 10px
          line-height: 14px
    &__document
      &-content
        padding-top: 5px
        .btn
          margin-top: 20px
      &-img
        width: 100%
  .question
    &__form
      padding-left: 20px
      padding-right: 20px
      &-wrapper
  .gallery
    &__list
      &-btn
        padding-top: 25px
    &__block
      margin-bottom: 15px
      &-title
        left: 14px
        bottom: 14px
        font-size: 15px
  .welcome
    &__title
      font-size: 20px
      margin: 60px 0 45px 10px
      line-height: 30px
      b
        font-size: 35px
    &__content
      padding-bottom: 65px
  .club
    font-size: 20px
    p
      line-height: 30px
    &__btn
      .btn--border
        padding-left: 10px
        padding-right: 10px
  .contact
    &__content
      padding-bottom: 40px
    &__info
      font-size: 15px
      p
        line-height: 20px
  .social
    svg
      width: 40px
      height: 40px
  .footer
    padding-top: 30px
    padding-bottom: 30px
    &__logo
      padding-left: 45px
      height: 38px
      font-size: 20px
      width: 175px
      margin-bottom: 35px
      span
        line-height: 24px
      small
        font-size: 13px
      img
        left: 5px
        top: 5px
        width: 29px
        height: 29px
    &__nav
      padding-bottom: 30px
      ul
        li
          a
            margin-bottom: 20px
    &__wrapper
      &>div
        float: none
        width: 100%
      &-left
        font-size: 20px
      &-right
        font-size: 15px
        p
          line-height: 20px
          margin-bottom: 25px
  .header
    height: 67px
    &-separator
      height: 67px
    &__nav
      font-size: 25px
    &__logo
      padding-left: 45px
      height: 38px
      font-size: 20px
      width: 175px
      margin-bottom: 35px
      span
        line-height: 24px
      small
        font-size: 15px
      img
        left: 0px
        top: 3px
        width: 35px
        height: 35px
    &__btn
      margin-right: -10px
      margin-top: 20px !important
    &__phone
      margin-right: 18px
      height: 67px
      line-height: 67px
  .cdaka
    &__list
      &-content
        padding-bottom: 0
    &__block
      width: 280px
      margin-bottom: 34px
      &-img
        img
          height: 171px
      &-btn
        height: 58px
        line-height: 60px
        font-size: 20px
      &-line
        height: 7px
        bottom: 52px
        span
          i
            height: 9px
            width: 9px
            top: -3px
            border-width: 3px
      &-content
        height: 148px
        padding-left: 21px
        padding-top: 15px
        p
          left: 21px
          bottom: 13px
          font-size: 15px
          line-height: 20px
      &-title
        font-size: 20px
        line-height: 30px
        max-height: 63px
        &::before
          height: 2px
          width: 108px
      &--project
        width: 100%
        .cdaka__block
          &-content
            height: 260px
            padding-top: 30px
            p
              font-size: 30px
              line-height: 45px
          &-btn
            height: 65px
            line-height: 65px
            font-size: 20px
          &-line
            bottom: 58px
  .project
    &__info
      &-img
        width: 100%
      &>div
        &+div
          padding-top: 40px
    &__donation
      &-form
        width: 280px
      &-list
        width: 100%
        max-width: inherit
    &__gallery
      a
        &+a
          margin-left: 0
      img
        width: 225px
  .sponsor
    &__block
      &-title
        font-size: 25px
        line-height: 35px
  .working
    &__block
      &-img
        img
          width: 280px
      ul
        li
          line-height: 25px
  .about-top
    &__text
      padding-bottom: 60px
      padding-top: 40px
      min-height: inherit
      p
        line-height: 20px
  .popup
    &__wrapper
      max-width: 280px
      &-close
        top: 0
        right: -20px
      &-form
        width: 250px
        .form-group
          margin-bottom: 10px
        .form-control
          height: 40px
          font-size: 13px
    &__head
      &>div
        font-size: 20px
        line-height: 30px
  .popupBg
    .mfp-container
      padding-left: 20px
      padding-right: 20px
  .join
    &__club
      padding-left: 15px
      width: 280px
      &-img
        width: 280px

@media screen and (max-width: 481px) and (orientation: landscape)
  .header
    &__nav
      ul
        li
          &>a, &>span
            height: 45px
            line-height: 45px

/* Custom, iPhone Retina */
@media only screen and (max-width : 319px)
  /**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  .container
    width: 100%
    padding: 0 20px
    margin: 0 auto
    min-width: 320px
  .section
    min-width: 320px
  .container
    .section
      min-width: 0
  .visible
    display: block !important
    opacity: 1 !important
    visibility: visible !important
    &-lg, &-md, &-sm
      display: none !important
  .hidden
    opacity: 0 !important
    display: none !important
    visibility: hidden !important
    &-xs
      display: none !important

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  .container
    padding: 0 30px

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  .container
    width: 750px
    padding: 0 50px
  .visible-sm
    display: block !important
  .hidden
    &-xs
      display: block !important
    &-sm
      display: none !important

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  .container
    width: 950px
  .visible-md
    display: block !important
  .hidden
    &-xs, &-sm
      display: block !important
    &-md
      display: none !important

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  .container
    width: 1060px
    padding: 0 15px
  .visible-lg
    display: block !important
  .hidden-1200
    display: none !important
  .hidden
    &-xs, &-sm, &-md
      display: block !important
    &-lg
      display: none !important

/* 1440 */
@media only screen and (min-width : 1440px)
  /**/

@media only screen and (max-width : 1600px)
  /**/

/* 1920 */
@media only screen and (min-width : 1920px)
  /**/
